.NavigationItem {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: column;
}

@media (min-width: 500px){
    .NavigationItem {
        flex-flow: row;
    }  
}

.NavigationChild {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationChild a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationChild a:hover,
.NavigationChild a:active,
.NavigationChild a.active {
    color: #40A4C8;
}

@media (min-width: 500px) {
    .NavigationChild {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationChild a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationChild a:hover,
    .NavigationChild a:active,
    .NavigationChild a.active {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}